:root {
    //Colors
    --primary: #CB134A;
    --primary-light: #ff3673;
    --primary-dark: #b30f40;
    --secondary: #303F58;
    --secondary-light: #5C697E;
    --secondary-dark: #182130;
    --white-text: #FFFFFF;
    --white-elements: #FFFFFF;
    --grey: #b6b6b6;
    --grey-dark: #7e7e7e;
    --shadow: 0, 0, 0;
    --shadow-opacity: 0.3;

    // Slider
    --amount: 5;
    --slide-size: 60px;
    --slide-padding: 5px;
    --splide-padding: 20px;

    // Sizes
    --header-height: 10rem;
    --icon-size: 4rem;
}

// Media Queries
$wide: 1680px;
$extra-large: 1480px;
$large: 1280px;
$extra-medium: 1050px;
$medium: 960px;
$small: 720px;
$extra-small: 600px;